
.grid-container4 {
  display: grid;
  grid-template-columns:120px 150px 120px 150px;
  padding: 10px;
  grid-gap: 10px;
  text-align: left;
}
.grid-container2 {
  display: grid;
  grid-template-columns:120px 440px;
  padding: 10px;
  grid-gap: 10px;
  text-align: left;
}
.hidden-div{
  /* visibility: hidden; */
  display: none;
  text-align: center;
}



