 .box {
    box-shadow: 0px 1px 22px -12px #607D8B;
    background-color: royalblue;
    padding: 25px 35px 25px 30px;
  }
  
  .sparkboxes2 .box {
    padding: 3px 0 0 0;
    position: relative;
  }
  
  .spark1, .spark2, .spark3, .spark4 {
    position: relative;
    padding-top: 15px;
  }
  /* overrides */
  .sparkboxes2 #apexcharts-subtitle-text { fill: #8799a2 !important; }
  

  
