
  .sparkboxes{
    position: relative;
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
   
    /* display: table-cell;
    float: left;; */
    /* display: grid;
    grid-template-rows: 3fr 1fr;
    align-items: center;  */
  }

  
  .sparkboxes .details {
    color: #fff;
    font-size:2.5em;
  }

 .outerDiv{
    width: 100%;
    height: 100%;
    position: relative;
    display: table;
    padding: 10px 10px 10px 10px;
    text-shadow: 0 1px 1px 1px #666;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    border-radius: 8px;
 }
 
 
 .outerDiv .measurement{
  color: #fff;
  font-size: 2em;
  display: table-cell;
  float:left;
  bottom: 0;
}


 .singleValue{
   font-weight:800 ;
 }



  
  